## [Start] Setting "isDone" to default value of "false". **
$util.qr($context.args.input.put("isDone", $util.defaultIfNull($ctx.args.input.isDone, false)))
## [End] Setting "isDone" to default value of "false". **
{}